
@{
    ViewBag.Title = "Index";
}

<h2>Ejemplos de Capturas de Video</h2>
<br />
<div class="row">
  <div class="col-md-12 text-center">
    <a href="~/Home/Video" class="btn btn-primary ">
      <span class="glyphicon glyphicon-hd-video"></span> Video
    </a>
    <a href="~/Home/VideoScreenShop" class="btn btn-primary ">
      <span class="glyphicon glyphicon-hd-video"></span> Video Screen Shop
    </a>
  </div>
</div> 
